.backgroundAbout {
  background-color: lightgreen;
  height: 100vh;
}
.containerAbout {
  background: grey;
}

.ponyRide {
  position: relative;
  border: 3px black solid;
  height: 100vh;
  overflow: 'hidden'
}
.ponyRideItem {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  border: 3px darkblue solid;
  /* display: none; */
}
/* .ponyRideItem.selected {
  display: block;
} */
.ponyPrevious {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%)
}
.ponyNext {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%)
}
.hide {
  display: none;

}
.aboutNav {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: space-between;
  

}
.aboutSection {
  padding: 10px;
  margin: 10px;
  background-color: lightblue;
  cursor: pointer;
}
.aboutSection.selected {
  color: green;
 animation: flip 3s infinite linear;
}
.customNavLink{
  color: Black;
}



/* add animation to .flipIt.rotate */

@keyframes flip {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
