
 @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.contactHeader {
    border-radius: 10px;
    background: black;
    font-family: 'Alfa slab One';
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    color: white;
    text-shadow:  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
    box-shadow: inset 0 0 10px cyan; 
    animation: header-shadow 3s linear infinite alternate
}



.backgroundContact {
    background-color: black;
    z-index: 1;
    padding-bottom: 25px;
    margin: 0;
}

input {
    text-align: center;
    border: 3px solid #ccc;
    border-radius: 15px;
    /* box-shadow: 2px 2px 4px 6 #ccc; */
    width: 95%;
  }
input {
    transition: transform 0.2s ease-in-out;
    padding: 3px;
   
}
input[type ="text"][name = "name"] {
    animation: float-left 3s ease-in-out forwards;
    animation-delay: 0s;
}
input[type ="email"][name = "email"] {
    animation: float-left 3s ease-in-out forwards;
    animation-delay: 1s;
}
input[type ="tel"][name = "phone"] {
    opacity: 0;
    animation: float-left 3s ease-in-out forwards;
    animation-delay: 2s;
}
input::placeholder {
    text-align: center;
    font-style: italic;
}
input:hover,
input:active,
input:focus {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 15px cyan;
    /* outline: 1px solid black;
    border: 2px solid black; */
}

.submitBtn{
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    transition: color 0.90s ease, background-color 0.9s ease, transform 0.2s ease-in-out;
    box-shadow: inset;
    background-color: black;
    color: cyan;
    transform: translateY(600%);
    animation: float-right 3s ease-in-out forwards;
    animation-delay: 6s;
}
.submitBtn:hover {
    background-color: cyan;
    color: black;
    transform: scale(2.1);
    box-shadow: 0px 0px 15px 15px cyan;
    font-weight: bolder;
    
    
}

.submitBtn:active { 
    transform: translateY(30px)
}

textarea {
   
    width: 90%;
    border: 3px solid #ccc;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 6 #ccc;
    height: 150px;
    transition: transform 0.2s ease-in-out;
    transform: translateY(600%);
    animation: float-right 3s ease-in-out forwards;
    animation-delay: 3.5s;
    padding: 10px;
    background-color: whitesmoke;
    
    
}

textarea::placeholder{
    font-style: italic;
    text-align: center;
    line-height: 7;
    
}

textarea:hover, 
textarea:active
 {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 15px cyan;
}
textarea:focus, input:focus {
   
    transform: scale(1.1);
    outline: 1px solid black;
    border: 2px solid black;
    box-shadow: 0px 0px 15px 15px cyan;
}

h1{
    text-align: center;
    margin: 30px;
    padding: 15px;
    
}
.customCard{ 
    position: relative; 
    /* box-shadow: 0 6px 4px grey; */
    box-shadow: 0px 0px 30px 0px cyan;
    transform: translateY(300%);
    animation: float-up 2s ease-out forwards, card-border 3s linear infinite alternate;
    /* border: darkorange 1px solid; */
    border-radius: 10px;
    animation-fill-mode: forwards;
    background-color: black;

}
/* .customCard:hover {
    box-shadow: 0px 0px 30px 15px grey; 
     animation: card-border 3s linear infinite;
 } */
    
 

@keyframes card-border{
    0% {
        box-shadow: 0px 0px 30px 0px cyan;
    }
    50% {
        box-shadow: 0px 0px 30px 15px cyan;
    }
    100% {
        box-shadow: 0px 0px 30px 30px cyan;
    }

}
@keyframes header-shadow{
    0% {
        box-shadow: inset 0px 0px 30px 0px cyan;
    }
    50% {
        box-shadow: inset 0px 0px 30px 10px cyan;
    }
    100% {
        box-shadow: inset 0px 0px 30px 20px cyan;
    }

}


/* .dots-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.dot {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: move 3s infinite;
}
.dot:nth-of-type(1) {
    top: 50%;
    left: 10%;

}
.dot:nth-of-type(2) {
    top: 50%;
    left: 70%;

}
.dot:nth-of-type(3) {
    top: 80%;
    left: 40%;
} */



@keyframes float-up {
    0% {
        opacity: 0;
        transform: translateY(300%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
        
}
@keyframes float-right {
    0% {
        opacity: 0;
        transform: translateX(600%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes float-left {
    0% {
        opacity: 0;
        transform: translateX(-600%)
    }
    100% {
        opacity: 1;
        transform: translateX()
    }
}
@keyframes float-down {
    0% {
        opacity: 0;
        transform: translateY(-300%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* @keyframes move {
    0% {
        transform: translate(-10px, -10px);
    }
    50% {
        transform: translate(10px, 10px);
    }
    100% {
        transform: translate(-10px, -10px);
    }
} */
