.myNav {
    position: absolute;
    background-image: linear-gradient(to bottom, #1e2754, #000000);
    right: 0;
    top: 0;
    z-index: 10000;
    opacity: .5;
    width: 100%;
    height: 40px;
    transition: height 1.5s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    
}

.myNav:hover{
    opacity: 1;
    background-image: linear-gradient(to bottom, #1e2754, #000000);
    height: 100px;

}

.myNav:hover .navi {
    transform: scale(1.5);
    margin-top: 50px;
}

.navi {
    color: rgb(215, 211, 246);
    text-decoration: none;
    transition: margin-top 1.5s ease-in-out;

}

.navi:hover {
    color: rgb(224, 138, 226);
}

.active {
  color:rgb(217, 34, 180)
}



