.slide-down {
    transition: height 0.5s ease-out;
    height: 0;
    overflow: hidden;
  }
  .slide-down.active {
    height: 100%;
  }

  .setHeight {
    max-height: 100px;
    overflow-y: auto;
  }

  .setImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: scroll;
  }

  .carousel {
    margin-top: 50px;
  }